/* styles.css */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
body {
  background: #f4f6fa;
  font-family: 'Roboto', sans-serif;
}

.error-snackbar {
  background-color: #c62828 !important;
  color: #fff !important;
  font-weight: 500;
}
.success-snackbar {
  background-color: #2e7d32 !important;
  color: #fff !important;
  font-weight: 500;
}
